.block-button
  width: fit-content

  &__button
    cursor: pointer
    width: fit-content
    @include button-primary(var(--section-override-btn-background, var(--button-background, var(--btn-background))), var(--section-override-btn-text, var(--button-text, var(--btn-text))), var(--section-override-btn-hover-background, var(--button-hover-background, var(--btn-hover-background))), var(--section-override-btn-hover-text, var(--button-hover-text, var(--btn-hover-text))))
    color: var(--section-override-btn-text, var(--button-text, var(--btn-text)))

    &--secondary
      @include button-secondary(var(--section-override-btn-background, var(--button-background, var(--primary))), var(--section-override-btn-text, var(--button-text, #{$white})), var(--section-override-btn-hover-background, var(--button-hover-background, var(--btn-hover-background))), var(--section-override-btn-hover-text, var(--button-hover-text, var(--btn-hover-text))))
      color: var(--section-override-btn-text, var(--button-text, #{$white})) !important

    &--underline
      @include button-underline(var(--section-override-btn-text, var(--button-text, #{$gray})), var(--section-override-btn-hover-text, var(--button-hover-text, var(--primary))))

    &--phone
      @include button-primary(var(--section-override-btn-background, var(--button-background, transparent)), var(--section-override-btn-text, var(--button-text, #{$white})), var(--section-override-btn-hover-background, var(--button-hover-background, var(--accent))), var(--section-override-btn-hover-text, var(--button-hover-text, #{$black})))

    &-icon
      margin-left: rem-calc(8)
      stroke-width: 2px
      height: rem-calc(20)

      svg
        transition: all .3s ease
        width: auto
        height: 100%

  a
    text-decoration: none

.openchair-widget
  span
    pointer-events: none
    