.block-button
  width: fit-content

  &__button
    cursor: pointer
    width: fit-content
    @include button-primary
    color: var(--btn-text)

    &--secondary
      @include button-secondary(var(--primary), $white, var(--btn-hover-background), var(--btn-hover-text))
      color: $white !important

    &--underline
      @include button-underline($gray, #{var(--primary)})

    &--phone
      @include button-primary(transparent, $white, var(--accent), $black)

    &-icon
      margin-left: rem-calc(8)
      stroke-width: 2px
      height: rem-calc(20)

      svg
        transition: all .3s ease
        width: auto
        height: 100%

  a
    text-decoration: none

.openchair-widget
  span
    pointer-events: none
    