// -----------------------
// color defaults
// -----------------------
$black: #000
$gray: #ccc
$white: #fff
$success: #2fd64c
$danger: #ff0033
$roosterPurple: #4d4ec1
$chartreuse: #C1C04D

// -----------------------
// project colors
// -----------------------

$headers: #003970
$text: #003970
$btn-background: #8ab73d
$btn-text: #000000
$btn-hover-background: transparent
$btn-hover-text: #003970
$header-footer: #003970
$primary: #003970
$accent: #adc8e8
$accent-2: #3285cb
$bg-1: #ffffff
$bg-2: #f0f5fa
$secondary: #8ab73d
$tertiary: #7ac37d

// ----------------------------
// navigation top bar colors
// -----------------------

$topbar-light: #f2f2f2

// -----------------------
// box shadows
// -----------------------

$bs1: 0 4px 6px 0 rgba($black, .07), 0 3px 13px -4px rgba($black, .18)
$bs2: 0 4px 10px 0 rgba($black, .04), 0 3px 16px -4px rgba($black, .03)

// -----------------------
// overlays
// -----------------------

$ol1: linear-gradient(to top, rgba($black, .46) 33%, rgba($black, 0)), linear-gradient(to bottom, rgba($black, .4), rgba($black, 0) 20%)
